# Python
__pycache__/
*.pyc
*.pyo
.Python

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Data outputs you don't want tracked
src/data/processed_courses.json
src/data/applicants.json